
/*
 * Local Styles that will override bootstrap
 */

#footerspace {
  height: 50px;
}

footer {
  opacity: 0.9;
}

#flash-message {    
  position: absolute;
  width: 100%;  
  top: 80px;    
}

 #forbidden { 
  padding: 10px 10px;
  border: 2px solid red;  
  border-radius: 10px;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  color: #fff;
  background: #444;
}

a {
  text-decoration: none;
}

a.link {
  font-weight: bold;
}

.slide-alert {  
  transition: max-height 2s, opacity 2s, margin 2s, padding 2s;
  overflow: hidden;
  max-height: 200px; /* Set to a value taller than your alert */
}

.slide-alert.slide-up {
  opacity: 0;
  max-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.workspace-status1 {
    color: var(--bs-success);
}
.workspace-status2 {
    color: var(--bs-warning);
}


input[type="file"]::file-selector-button {
    background-color: var(--bs-primary);
    color: var(--bs-white);        
}

th.useraccess-10 {
  background-color: var(--bs-primary);    
}

th.useraccess-20 {
  background-color: var(--bs-info);
}

th.useraccess-30 {
  background-color: var(--bs-warning);
}

th.useraccess-40 {
  background-color: var(--bs-danger);
}

.one-line {
    max-height: 25px; 
    overflow:hidden;
}  

