.slot_table{
    border: 1px solid black;
    background-color: grey;
}

.slot_table td{
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
}

.slot{
    border: 1px solid white;
    padding: 5px;
    background-color:dimgrayw
}