<li>
  <a href="{{ url_for('.booking', id=booking.id)}}">
    <div class="img-col">
      {% if booking.workspace.thumbnail %}
        <img src="{{ url_for('static', filename='thumbnails/' + booking.workspace.thumbnail) }}"  height="50px">
      {% else %}
        <img src="{{ url_for('static', filename='icons/unknown.png') }} " height="50px">
      {% endif %}
      <div class="name">AAA{{ h.short_str(booking.workspace.name,15) }}</div>
      
    </div>
    <div class="info-col">
      <span class="approved-pill-{{ booking.approved }} rounded-pill float-end">{{ booking.approved_str() }}</span>
      <div class="day">{{ h.fmt_time(booking.start_time,'%A %H:%M') }}</div>
      <div class="date">{{ h.fmt_time(booking.start_time,'%d %B %Y') }}</div>      
        
      <div class="one-line">Duration: {{ booking.duration }} min</div>
      <div class="one-line">Description: {{ booking.description }}</div>
    </div>
  </a>
</li>
