
{% if slot.is_available() and not current_user.has_skills_for(slot.workspace) %}
  <a class="{{ h.class_for_booking(slot,current_user) }}">
{% elif slot.user_id == current_user.id or slot.is_available() or current_user.is_manager() %}
  <a class="{{ h.class_for_booking(slot,current_user) }}" href="{{ url_for('.booking', id=slot.id) }}">
{% else %}
  <a class="{{ h.class_for_booking(slot,current_user) }}">
{% endif %}

{% if slot.duration > 20 %}
  {% if current_user.is_manager() %}
    {%if slot.user_id %}
      <span class="status_str">{{ slot.user.name() }}</span>    
    {% else %}
      <span class="status_str">{{ slot.booking_status_str(current_user) }}</span>    
    {% endif %}
  {% else %}
    <span class="status_str">{{ slot.booking_status_str(current_user) }}</span>    
  {% endif %}
{% endif %}    

{% if slot.duration > 40 %}
  <br>
  {{ slot.duration }} mins
{% endif %} 
</a>