 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>      
      {% if title %}
	      {{title}}
      {% else %}
        FreeSpace
      {% endif %}
    </title>    

    <link rel="stylesheet" href="{{ url_for('static', filename='darkly_bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    
    {% block head %}{% endblock %}
  </head>
  
  <body>
    {% include '_header.html' %}

    {% include '_confirm_popup.html' %}

    {% block page_flash %}
        {% include '_flash_messages.html' %}
    {% endblock %}
    
    <div id="page" class="container">     
      {% block content %}{% endblock %}
    </div>

    <div id="footerspace"></div>

    <footer class="fixed-bottom mt-4">
      <div class="text-center text-muted bg-dark">
        <span>FreeSpace - Developed by Sam Hildebrandt</span>
      </div>
    </footer>  

   <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
 
   </body>
</html>
