 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>      
      {% if title %}
	-     {{title}}
      {% else %}
        Task Master
      {%endif%}
    </title>    

    <link rel="stylesheet" href="{{ url_for('static', filename='darkly_bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    
    {% block head %}{% endblock %}
  </head>
  
  <body>
    {% include '_header.html' %}
    
    <div id="page" class="container">
      {% block page_flash %}
        {% include '_flash_messages.html' %}
      {% endblock %}
      
      {% block content %}{% endblock %}
    </div>
   <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
   </body>
</html>
