{% extends "base.html" %}

{% block content %}

  <h2 class="mt-4">Bookings to be approved</h2>

  {% for workspace in workspaces %}
    <h3 class="bg-secondary p-2 rounded mt-4">
        {% if workspace.thumbnail %}
        <img src="{{ url_for('static', filename='thumbnails/' + workspace.thumbnail) }}" height="60px">
      {% else %}
        <img src="{{ url_for('static', filename='icons/unknown.png') }}">
      {% endif %}
      
      {{ workspace.name }}
    </h3>
    <ul class="list-group">
      {% for booking in workspace.unapproved_bookings() %}      
        <li class="list-group-item d-flex justify-content-between align-items-center">       
          <div class="font-weight-bold fs-5 w-25">
            {{ h.fmt_date(booking.start_time,"%A %H:%M") }}
          </div>

          <div class="d-none d-md-inline-block">
            {{ h.fmt_date(booking.start_time,"%d %b %y") }}
          </div>

          <a class="link" href="{{ url_for('.show_user',id=booking.user.id)}}">
            {{booking.user.display_name}}
          </a>

          <div class="d-none d-lg-inline-block">
            {{ booking.description[:30] }}
          </div>         

          <div class="badge bg-secondary rounded-pill d-none d-lg-inline-block">
            {{booking.duration}} minutes
          </div>
          
          <a class="" href="{{ url_for('.booking', id=booking.id) }}">
            Show
          </a>

          <div>
            {{h.post_to('Approve', '.approve_booking', id=booking.id) |safe}}
            {{h.post_to('Reject', '.reject_booking', id=booking.id) |safe}}
          </div>

        </li> 
                  
      {% endfor %}
    </ul>
  {% endfor %}
  {% if not workspaces %}
    <div class="text-warning">There are currently no bookings to be approved.</div>
  {% endif %}

{% endblock %}

