{% extends "base.html" %}

{% block content %}
    <h1>Booking for {{ current_user.display_name }}</h1>
    <form class="settings" method="post">
        {{ form.hidden_tag() }}
          <p>
            Start time: {{slot.start_time}}
          </p>

          <p>
            Duration: {{slot.duration}}
          </p>

          <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>

          <p>{{ form.submit() }}</p>
    </form>

    {% if slot.is_booked() %}
      <form action="{{ url_for('.unbook', id=slot.id) }}" method="POST">
        <input class="delete" type="submit" value="Unbook" onclick="return confirm('Cancel this booking.\nAre You Sure?')">
      </form>
    {% endif %}



{% endblock %}

