{% extends "base.html" %}

{% block content %}
  <div class="col-sm-8 border border-1 p-3 rounded bg-secondary mt-4">
    <h3 class="bg-dark p-2 rounded">
      {% if slot.workspace.thumbnail %}
        <img src="{{ url_for('static', filename='thumbnails/' + slot.workspace.thumbnail) }}" height="60px" >      
      {% endif %}
      
      {{ slot.workspace.name }}
    </h3>
    {% if slot.user_id %}
      <h1>Booking for {{ slot.user.name() }}</h1>
    {% else %}
      <h1>Booking for {{ current_user.name() }}</h1>    
    {% endif %}

    {% if slot.is_booked() %}
      <form id="unbook-form" action="{{ url_for('.unbook', id=slot.id) }}" method="POST"></form>
    {% endif %}
    <form class="settings" method="post">
        {{ form.hidden_tag() }}
          <div class="fs-4">
            {{ h.fmt_date(slot.start_time, "%A %d %b") }} at {{ h.fmt_time(slot.start_time) }}
          </div>           

          <div>
            Duration: {{slot.duration}} mins
          </div>

        {% with field = form.description %}  
          {% include "_form_field_text.html" %}
        {% endwith %} 

        <div class="mt-3 mb-2">
          {{ form.submit(class_="btn btn-primary") }}
          {{ form.cancel(class_="btn btn-primary") }}
      
          {% if slot.is_booked() %}
            <input form="unbook-form" class="delete btn btn-danger float-end" type="submit" value="Cancel Booking" onclick="return customConfirm('Cancel this booking?', event)">
          {% endif %}
        </div>
    </form>
  </div>



{% endblock %}

