{% extends "base.html" %}

{% block content %}
  <div class="col-sm-8 border border-1 p-3 rounded bg-secondary mt-4">
    <h1>{{ title }}</h1>
    <form class="settings" action="{{action}}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% with field = form.name %}  
          {% include "_form_field_text.html" %}
        {% endwith %}  
       
        {% with field = form.description %}  
          {% include "_form_field_text.html" %}
        {% endwith %} 

        {% with field = form.location %}  
          {% include "_form_field_text.html" %}
        {% endwith %} 

        {% with field = form.status %}  
          {% include "_form_field_select.html" %}
        {% endwith %} 

            <p>
              {{ form.thumbnail.label }}<br>
              {{ form.thumbnail() }}<br>
              {% for error in form.thumbnail.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </p>  

          {% with field = form.submit %}  
            {% include "_form_field_submit.html" %}
          {% endwith %} 
    </form>
  </div>



{% endblock %}

