{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="col-lg-4 border border-1 p-3 rounded bg-secondary">
      <div class="">
        <h2>{{ slot.start_time.strftime("%A %d %b") }}</h2>
      </div>
      <form action="{{action}}" method="post">
        {{ form.hidden_tag() }}                 

        <div class="col-sm-8">
          <label class="form-label" for="hour">Start Time</label>
          <div class="input-group">                        
            {{ form.hour(class_="form-select") }}
            {{ form.minute(class_="form-select") }}
          </div>
        </div>

        {% with field = form.duration %}  
          {% include "_form_field_text.html" %}
        {% endwith %}      
       

        {% with field = form.repeating %}  
          {% include "_form_field_checkbox.html" %}
        {% endwith %}         

        {% with field = form.submit %}  
          {% include "_form_field_submit.html" %}
        {% endwith %} 
    </form>
  </div>



{% endblock %}

