{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="col-lg-8 border border-1 p-3 rounded bg-secondary">
      <div class="">
        <h2>{{ slot.start_time.strftime("%A %d %b") }}</h2>
      </div>
      <form action="{{action}}" method="post">
        {{ form.hidden_tag() }}                 

        <div class="col-sm-4">
          <label class="form-label" for="hour">Start Time</label>
          <div class="input-group">                        
            {{ form.hour(class_="form-select") }}
            {{ form.minute(class_="form-select") }}
          </div>
        </div>

        <div>
          {{ form.duration.label(class_="form-label") }}
          {{ form.duration(class_="form-select") }}
          {% for error in form.duration.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>   

        <div>
          {{ form.description.label }}
          {{ form.description(rows=5, class_="form-control") }}
          {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>

        <div class="form-check">            
          {{ form.repeating(class_="form-check-input") }}
          {{ form.repeating.label(class_="form-check-label") }}
          {% for error in form.repeating.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
          
        <div>
          {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
  </div>



{% endblock %}

