{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='xlogin.css') }}">
{% endblock %}

{% block page_flash %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  
  <div class="mt-5 p-3 border border-1 rounded bg-secondary" style="max-width: 450px;">

    <h1 class="text-center">New User Registration</h1> 
    
    {% include '_flash_messages.html' %}    

	  <form action="" method="post">
      {{ form.hidden_tag() }}

      {% with field = form.registration_code %}  
        {% include "_form_field_text.html" %}
      {% endwith %}          

      {% with field = form.username %}  
        {% include "_form_field_text.html" %}
      {% endwith %}  
      
      {% with field = form.display_name %}  
        {% include "_form_field_text.html" %}
      {% endwith %}          

      {% with field = form.email %}  
        {% include "_form_field_text.html" %}
      {% endwith %}          

      {% with field = form.password %}  
        {% include "_form_field_text.html" %}
      {% endwith %}    
      
      {% with field = form.password2 %}  
        {% include "_form_field_text.html" %}
      {% endwith %}          

      {% with field = form.submit %}  
        {% include "_form_field_submit.html" %}
      {% endwith %}          
    </form>
        
    <div>
      <hr>
      <p><a href="{{ url_for('.home') }}">Back</a></li></p>
    </div>  
  </div>
</div>
{% endblock %}

