{% extends "base.html" %}

{% block content %}

  <b>Start_time: </b> {{slot.slot_time}}<br>
  <b>Duration: </b> {{slot.duration}}<br>
  <b>Description: </b> {{slot.description}}<br>
  <b>Repeating: </b> {{slot.repeating}}<br>    

  <a href="{{url_for('.edit_slot',slot_id=slot.id)}}">Edit slot</a>

  <form action="{ { url_for('.delete_slot', id=slot.id) } }" method="POST">
    <input class="delete" type="submit" value="Delete" onclick="return confirm('Delete this slot.\nAre You Sure?')">
  </form>
{% endblock %}