{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='slot_table.css') }}">
{% endblock %}

{% block content %}
  <div>
    <h2>Workspace - {{workspace.name}}</h2>
  </div>

  <div class="row">
    <!-- Sidebar -->
    <aside class="col-md-3 mb-4">
      <div class="bg-dark p-3 rounded shadow-sm overflow-hidden">
        <h4 class="mb-3 text-center text-info">{{workspace.name}}</h4>
        <div class="row">
          {% if workspace.thumbnail %}
            <img class="col-8 offset-2" src="{{ url_for('static', filename='thumbnails/'+workspace.thumbnail) }}">
          {% endif %}  
        </div>  
       
          <div class="text-info">Name</div>
          <div class="ps-2">{{workspace.name}}</div>

          <div class="text-info">Description</div>
          <div class="ps-2 one-line">{{workspace.description}}</div>

          <div class="text-info">Location</div>
          <div class="ps-2 one-line">{{workspace.location}}</div>

          <div class="text-info">Status</div>
          <div class="workspace-status{{workspace.status}} ps-2 one-line">
            {{workspace.status_str()}}
          </div>
                    
          <div class="text-info">Required Skills</div>
          {% if workspace.required_skills %}                        
            {% for skill in workspace.required_skills %}
              <div class="ps-2 one-line">
                <img src="{{ url_for('static', filename='icons/'+h.include_if(current_user.has_skill(skill), 'tick.png', 'cross.png')) }}"> {{ skill.description }}                 
              </div>
            {% endfor %}
          {% else %}
            <div class="ps-2">No skills required</div>                
          {% endif %}
       
        {% if current_user.is_manager() %}    
          <div class="row mt-2">        
            {{h.button_to('Edit Required Skills', '.edit_workspace_skills', id=workspace.id) | safe}}          
          </div>         
        
          <div class="row mt-2">
            {% if edit_slots %}
              {{h.button_to('Show Bookings', '.show_workspace', id=workspace.id, day=day) | safe}}
            
            {% else %}
              {{h.button_to('Edit Time Slots', '.show_workspace', id=workspace.id, day=day, edit=1) | safe}}            
            {% endif %}
          </div>

          <div class="row mt-2">
            {{h.button_to('Edit Workspace', '.edit_workspace', id=workspace.id) | safe}}
          </div>
        {% endif %}
      </div>
    </aside>

    <div class="col-md-9">


      {% with slots=workspace.slots %}        
        {% include "_slot_table.html"%}
      {% endwith %}

    </div>
  </div>
{% endblock %}


