{% extends "base.html" %}

{% block content %}
    <div class="col-sm-8 border border-1 p-3 rounded bg-secondary mt-4">
        
        <h1>{{ title }}</h1>
        <form class="settings" action="" method="post">
            {{ form.hidden_tag() }}

	        {% if current_user.password_hash %}
                {% with field = form.current_password %}  
                    {% include "_form_field_text.html" %}
                {% endwith %}          	
	        {% endif %}

            {% with field = form.password %}  
                {% include "_form_field_text.html" %}
            {% endwith %}        
            
            {% with field = form.password2 %}  
                {% include "_form_field_text.html" %}
            {% endwith %}          	

            {% with field = form.submit %}  
                {% include "_form_field_submit.html" %}
            {% endwith %}          	        
        </form>
    </div>  
{% endblock %}


