{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='weekly_slot_table.css') }}">
{% endblock %}

{% block content %}

  <h2>Weekly Booking Slots</h2>

  <table class="weekly-slot-table">

    <tr>
      <td>
        {{h.button_to_url('<<', prev_url) | safe}}
      </td>
      {% for col in columns %}
        <th class="{{ col['class'] }}">{{ col['date'].strftime('%b') }}<br>{{ col['date'].strftime('%d') }}</th>
      {% endfor %}      
      <td>
        {{h.button_to_url('>>', next_url) | safe}}
      </td>
    </tr>
     
    {% for workspace in workspaces %}
      <tr>
        <td>
          <a href="{{ url_for('.show_workspace',id = workspace.id)}}">{{workspace.name}}</a><br>
        </td>  
        
        {% for col in columns %}
          <td class="{{ col['class'] }}">
            <a href="{{ url_for('.show_workspace',id = workspace.id, day=col['date']) }}" class="cell {{ col['cells'][workspace.id]['class'] }}">
              {{ col['cells'][workspace.id]['display'] }}
            </a>                  
          </td>
        {% endfor %}
      </tr>
    {% endfor %}

      <tr>
        <td></td>
        {% for col in columns %}
          {% if 'copy_url' in col %}
            <td colspan="2">{{ h.post_to_url('Copy&#x2b0f;', col['copy_url'], confirm_mesg="Copy all weekly slots to next empty week?") | safe}}</td>                      
          {% else %}
            <td></td>  
          {% endif %}  
        {% endfor %}      
      </tr>
    
  </table>  

{% endblock %}