{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='workspace_list.css') }}">
{% endblock %}

{% block content %}

  <h2>Usable Workspaces</h2>  
  
  <div>
    {% if usable_workspaces %}
      <ul class="workspaces">
        {% for workspace in usable_workspaces %}
          {% include '_workspace_panel.html' %}
        {% endfor %}
      </ul>
    {% else %}
      <div class="text-warning">You do not have sufficient skills yet to use workspaces</div>
    {% endif %}


    {% if other_workspaces %}
      <h2>Other Workspaces</h2>
      <ul class="workspaces">
        {% for workspace in other_workspaces %}
          {% include '_workspace_panel.html' %}
        {% endfor %}
      </ul>
    {% endif %}
    
  
    </div>
  {% if current_user.is_manager() %}
    <div>
      {{ h.button_to('Add Workspace', '.edit_workspace') |safe}} 
    </div>
  {% endif %}  
  
{% endblock %}




